
.formContainer{
    display: block;
    text-align: center;
    border-radius: 5px;
    padding-top: 120px;
}
form{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
   
    align-content: center;
}
