.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;;
    pointer-events: auto;
    content: "";
    background-color: rgba(0, 0, 0, 0);
    

}
.card a:hover{
    text-decoration: none;
}

.card:hover{ 
    box-shadow: 1px 8px 20px #3F72C9;
}
.card .card-title{
    color: black;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
    font-weight: 600;
}
h4{
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;

}

