@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

footer{
	background-color: #61878c;
	position: relative;
	bottom: 0;
}
/*@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
} */
.footer-distributed{
	height: 250px;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 18px Comfortaa;


}


.footer-distributed .footer-left,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
.footer-distributed .footer-left{
	width: 30%;
	margin-left: 20px;
	padding-top: 10px;
}
.footer-distributed .footer.footer-left h3{
	color: black;
	font: bold 25px Comfortiaa;
	padding-left: 10px;
}
.footer-distributed .footer-left i{
	color: black;
	font-size: 25px;
	text-align: center;
	line-height: 10px;
	margin: 20px 15px;
	vertical-align: middle;

}
.footer-distributed .footer-left p{
	display: inline-block;
	color: black;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-right{
	width: 65%;
	margin-left: 10px;
	padding-top: 20px;
}


.footer-right .footer-company-name p {
	text-align: center;


}


/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */

@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

}
