.navbar {
    background-image: linear-gradient(to right, #3f72c9, #4999d7, #79bcdd, #b5dce6, #f5f9f9);
    padding-left: 16px;
    padding-right: 16px;
}


.navbar .navbar-brand {
    padding-left: 0;
    font-size: 20px;
    padding-right: 50px;
}

.navbar .navbar-nav {
    position: relative;
    
}

.navbar .action-buttons .dropdown-toggle::after {
    display: none;
}



.navbar .dropdown-item i {
    font-size: 16px;
    min-width: 22px;
}

.navbar .dropdown-menu {
    border-radius: 1px;
    border-color: #e5e5e5;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .05);
}

.navbar .navbar-nav .dropdown-menu a {
    padding: 8px 20px;
    line-height: normal;
}