<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Share Experience</title>
    <link rel="stylesheet" href="../public/stylesheets/addExperience.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

    <div class="formContainer">
        <h5 style="text-align: center;">Share your experience</h5>
        <form action="" method="POST" name="experienceForm">
            <div class="col-md-9">
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" id="inputTitle" placeholder="Title">
                </div>
                <div class="form-group">
                    <label>Your experience</label>
                    <p>
                        <textarea id="experienceText" class="form-control" cols="107" rows="15" name="experienceText"
                            style="width: 100%;" form="experienceForm"></textarea></p>
                </div>
                <a class="btn btn-outline-primary" href="#" role="button">Post</a>
            </div>
        </form>

    </div>
    </div>


</body>

</html>