<%- include('partials/upperHeader') %>
<link rel="stylesheet" href="stylesheets/category_support.css">
<%- include('partials/lowerHeader') %>

<!--Information cards begin-->
<div class="container py-4">
    <div class='row justify-content-center'>

        <div class="col-sm-6 col-md-4">
            <div class="card" style="height: 20rem;border-radius: 20px;">
                <a class="card-block stretched-link text-decoration-none" href="posts/all?category=anxiety">
                    <div class="card-body">
                        <img src="images/anxiety1.png" class="card-img-top" alt="Anxiety support"
                            style="height: 15rem;">
                        <h5 class="card-title" style="text-align: center;">Anxiety Support</h5>
                    </div>
                </a>

            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="card" style="height: 20rem;border-radius: 20px;">
                <a class="card-block stretched-link text-decoration-none" href="posts/all?category=depression">
                    <div class="card-body">
                        <img src="images/depression.png" class="card-img-top" alt="Depression Support"
                            style="height: 15rem;">
                        <h5 class="card-title" style="text-align: center;">Depression Support</h5>

                    </div>
                </a>
            </div>

        </div>
    </div>
</div>


<!--Information cards end-->

<%- include('partials/footer') %>

</body>

</html>
