<%- include('partials/upperHeader') %>
 <link rel="stylesheet" href="stylesheets/collective_org.css">
<%- include('partials/lowerHeader')%>

    <!--Categories card begin-->
    <div class="container py-4">
        <h4>ORGANIZATIONS</h4>
        <div class="card-deck-wrapper">
            <div class="card-deck">
                <div class="card p-2">
                    <a class="card-block stretched-link text-decoration-none" href="organizations/Clinical Care">
                        <div style="height: 15rem;">
                            <img src="images/clinical.png" class="card-img-top" alt="Clinical Care">
                        </div>
                        <hr>
                        <p class="card-text" style="text-align: center;">Clinical Care</p>
                    </a>
                </div>
                <div class="card p-2">
                    <a class="card-block stretched-link text-decoration-none" href="organizations/Psychotherapy">
                        <div style="height: 15rem;">
                            <img src="images/psy.png" class="card-img-top" alt="Psychotherapy">
                        </div>
                        <hr>
                        <p class="card-text" style="text-align: center;">Psychotherapy</p>
                    </a>
                </div>
                <div class="card p-2">
                    <a class="card-block stretched-link text-decoration-none" href="organizations/Residental Centre">
                        <div style="height: 15rem;">
                            <img src="images/res.png" class="card-img-top" alt="Residental Care">
                        </div>
                        <hr>
                        <p class="card-text" style="text-align: center;">Residental Care</p>
                    </a>
                </div>
                 <div class="card p-2">
                    <a class="card-block stretched-link text-decoration-none" href="organizations/Hotline">
                        <div style="height: 15rem;">
                            <img src="images/hotline.png" class="card-img-top" alt="Hotline">
                        </div>
                        <hr>
                        <p class="card-text" style="text-align: center;">Hotline</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--Categories card end-->
<%- include('partials/footer') %>
</body>

</html>
