<%- include('partials/upperHeader') %>
<link rel="stylesheet" href="stylesheets/index.css">
<%- include('partials/lowerHeader') %>
    <div class="text-center">
        Share with the community
        <a class="btn btn-outline-primary" href="/posts/anxiety/add" role="button">Share Here</a></div>
    </div>
    <!--Experience cards begin-->
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="card  mb-3">
                    <div class="card-body" style="width: 18rem; height: 16rem;">
                        <h4 class="card-title">Experience title From db</h4>
                        <hr>
                        <div class="text-muted">-Experience author from db</div>

                        <div class="text-flow">
                            <p class="card-text">Experience body from db</p>
                        </div>
                        <div class="text-right">
                            <a class="btn btn-outline-primary" href="#" role="button">Read More</a></div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col-sm-4 -->
        </div>
        <!-- /.row -->

    </div>
    <!--Experience cards end-->
<%- include('partials/footer') %>
