<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/collective_org.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <%- include('partials/header') %>
    <!--Categories card begin-->
    <div class="container py-4">
        <h4>ORGANIZATIONS</h4>
        <div class="card-deck-wrapper">
            <div class="card-deck">
                <div class="card p-2">
                    <a class="card-block stretched-link text-decoration-none" href="org_clinical.html">
                        <div style="height: 15rem;">
                            <img src="images/care.png" class="card-img-top" alt="Clinical Care">
                        </div>
                        <hr>
                        <p class="card-text" style="text-align: center;">Clinical Care</p>
                    </a>
                </div>
                <div class="card p-2">
                    <a class="card-block stretched-link text-decoration-none" href="#">
                        <div style="height: 15rem;">
                            <img src="images/psy.png" class="card-img-top" alt="Psychotherapy">
                        </div>
                        <hr>
                        <p class="card-text" style="text-align: center;">Psychotherapy</p>
                    </a>
                </div>
                <div class="card p-2">
                    <a class="card-block stretched-link text-decoration-none" href="#">
                        <div style="height: 15rem;">
                            <img src="images/psy.png" class="card-img-top" alt="Psychotherapy">
                        </div>
                        <hr>
                        <p class="card-text" style="text-align: center;">Psychotherapy</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <<<<<<< HEAD </div>
        <!--Categories card end-->
        <%- include('partials/footer') %>
</body>

</html>
=======
</div>
<!--Categories card end-->
<%- include('partials/footer') %>
>>>>>>> 6fba67d0de040ade4fd52bd49c74de26c78e8223