<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anxiety</title>
    <link rel="stylesheet" href="../public/stylesheets/collective_.css">
    <link rel="stylesheet" href="../public/stylesheets/navbar.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
    <!--Navbar begin-->
    <div>
        <nav class="navbar navbar-expand-lg navbar-light ">
            <a href="#" class="navbar-brand">Ashwashan</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Collection of nav links, forms, and other content for toggling -->
            <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
                <div class="navbar-nav">
                    <a href="index.ejs" class="nav-item nav-link" style="color: black;">Home</a>
                    <a href="#" class="nav-item nav-link" style="color: black; ">Information</a>
                    <a href=" #" class="nav-item nav-link" style="color: black;">Peer Support</a>
                    <a href="collective_org.ejs" class="nav-item nav-link" style="color: black;">Organizations</a>


                </div>

                <div class="navbar-nav action-buttons ml-auto">
                    <a href="#myModal" data-toggle="modal" style="color: black;">Login/Signup</a>
                </div>
            </div>
        </nav>
    </div>
    <!--Navbar end-->
    <div class="text-center">
        Share with the community
        <a class="btn btn-outline-primary" href="#" role="button">Share Here</a></div>
    </div>
    <!--Experience cards begin-->
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="card  mb-3">
                    <div class="card-body" style="width: 18rem; height: 16rem;">
                        <h4 class="card-title">Experience title From db</h4>
                        <hr>
                        <div class="text-muted">-Experience author from db</div>

                        <div class="text-flow">
                            <p class="card-text">Experience body from db</p>
                        </div>
                        <div class="text-right">
                            <a class="btn btn-outline-primary" href="#" role="button">Read More</a></div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col-sm-4 -->
        </div>
        <!-- /.row -->

    </div>
    <!--Experience cards end-->
</body>

</html>