<%- include('partials/upperHeader') %>
<link rel="stylesheet" href="/stylesheets/index.css">

<%- include('partials/lowerHeader')%>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="max-height: 60rem;">
    <div class="carousel-inner">
        <div class="carousel-item active" style="background-color: #FFECDE;">
            <img class="d-block w-100" src="/images/bgc.png" alt="First slide" style="height: 600px;">
            <div class=" carousel-caption d-none d-md-block" style="margin-bottom: 400px; text-align: center;">
               <span style="color: #251933; text-align: left; font-size:50px">ASHWASHAN

                    </span>
            </div>
        </div>
        <div class="carousel-item" style="background-color: #FFECDE;">
            <img class="d-block w-100 " src="/images/secondsec.png" alt="Second slide" style="height: 600px;">
            <div class="carousel-caption d-none d-md-block" style="margin-bottom: 450px; text-align: top;">
                <h4><span style="color: #251933; letter-spacing:0.05em; opacity:0.9 ">Just because no one else can heal or do your innerwork for you
                        <br>doesn't mean you can,should
                        ,or need to do it alone</span></h4>
            </div>
        </div>
        <div class="carousel-item" style="background-color: #FFECDE;">
            <img class="d-block w-100" src="/images/slidet.png" alt="Third slide" style="height: 600px;">
            <div class="carousel-caption d-none d-md-block" style="margin-bottom: 250px; text-align: right;">
                <h4><span style="color:#251933;letter-spacing:0.05em;opacity:0.9">The overall health of an individual is <br>reflection of the health of
                        their mind.</span></h4>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<%- include('partials/footer') %>
