<%- include('partials/upperHeader') %>
<link rel="stylesheet" href="stylesheets/index.css">

<%- include('partials/lowerHeader')%>

<div class="title">
    <h1>Ashwashan</h1>
    <p>Subtitle Here</p>
</div>


<%- include('partials/footer') %>
</body>

</html>