<%- include('partials/upperHeader') %>
<link rel="stylesheet" href="/stylesheets/category_support.css">
<%- include('partials/lowerHeader') %>

<!--Information cards begin-->
 <% if(message.length>0){ %>
  <div class= "text-center alert alert-danger">
      <%= message %>
  </div>
    <% } %>

<div class="container py-4">
    <div class='row justify-content-center'>

        <div class="col-sm-6 col-md-4">
            <div class="card" style="height: 20rem;">
                <a class="card-block stretched-link text-decoration-none" href="/informations/quotes">
                    <div class="card-body">
                        <img src="images/motivation.png" class="card-img-top" alt="Anxiety support"
                            style="height: 16rem;">
                        <h5 class="card-title" style="text-align: center;">Motivational Quotes</h5>
                    </div>
                </a>

            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="card" style="height: 20rem;">
                <a class="card-block stretched-link text-decoration-none" href="/informations/articles">
                    <div class="card-body">
                        <img src="images/articles.png" class="card-img-top" alt="Depression Support"
                            style="height: 16rem;">
                        <h5 class="card-title" style="text-align: center;">Informative articles</h5>

                    </div>
                </a>
            </div>

        </div>
    </div>
</div>


<!--Information cards end-->

<%- include('partials/footer') %>

</body>

</html>
