<%- include('partials/upperHeader') %>
<link rel="stylesheet" href="/stylesheets/addExperience.css">
<%- include('partials/lowerHeader') %>

<h5 class="formHead">Share your experience</h5>
<div class="card">
    <div class="card-body">
        <form action="" method="POST" name="experienceForm" class="expForm">
            <div class="col-md-9">
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" id="inputTitle" placeholder="Title">
                </div>
                <div class="form-group">
                    <label>Your experience</label>
                    <p>
                        <textarea id="experienceText" class="form-control" cols="107" rows="15" name="experienceText"
                            form="experienceForm"></textarea></p>
                </div>
                <a class="btn btn-outline-primary" href="#" role="button">Post</a>
            </div>
        </form>
    </div>
</div>
</div>


</body>

</html>