<%- include('partials/upperHeader') %>
<link rel="stylesheet" href="/stylesheets/addExperience.css">
<%- include('partials/lowerHeader') %>

<h5 class="formHead">Share your experience</h5>
<div class="card">
    <div class="card-body">
        <form action="/posts/save?category=<%= category %>" method="POST" name="experienceForm" class="expForm">
            <div class="col-md-9">
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" name="postTitle" class="form-control" id="inputTitle" placeholder="Title">
                </div>
                <div class="form-group">
                    <label>Your experience</label>

                        <textarea id="experienceText" class="form-control" cols="107" rows="15" name="postBody"
                           type="text"></textarea>
                </div>
                <button class="btn btn-outline-primary" type="submit">Post</button>
            </div>
        </form>
    </div>
</div>
</div>


<%- include('partials/footer') %>
