
        <link rel="stylesheet" href="/stylesheets/footer.css">
        
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    
        <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    
            <footer class="footer-distributed">
                <div class="footer-left">
                    <h3 class="ml-5 mt-5">Hotlines</h3>
                    <div>
                        <i class="fa fa-phone"></i>
                        <p>1660 010 2005</p>
                    </div>
                    <div>
                        <i class="fa fa-phone"></i>
                        <p>+977 9808522410</p>
                    </div>
                    <div>
                        <i class="fa fa-phone"></i>
                        <p>16600102005</p>
                    </div>
                    <div>
                        <i class="fa fa-phone"></i>
                        <p>+977 9840273655</p>
                    </div>         
                </div>

                <!--
                    Right
                -->
                <div class="footer-right mt-5 ml-4">
                    <div class="row">
                        <div class="col-4 mt-5">
                            <img src="/images/Ashwashan.png" alt="ashwashan-logo" width="40%">
                        </div>
                        <div class="col-8" style="margin-left: -160px;">
                            <h3>About Us</h3>
                            <p class="footer-company-about">
                                We provide platform to share your thoughts and emotions
                                anynomously.There are two distinct support categories:
                                Anxiety Support and Depression.
                            </p>
                            <p class="footer-links">
                                <a href="/">Home</a>
                                |
                                <a href="/informations">Information</a>
                                |
                                <a href="/posts">Peer Support</a>
                                |
                                <a href="/organizations">Organizations</a>
                            </p>
                            <div class="footer-company-name"> ©2020 Ashwashan.com</div>
                        </div>
                    </div>
                </div>    
            </footer> 
        </body>
    </html>