
    <link rel="stylesheet" href="stylesheets/footer.css">
    

        <div class="footer">

            <div class="footer-content">

                <div class="footer-section review">
                    <div class="review">
                        <h4>Ashwashan</h4>
                        <p>Want to sent your rewiews? Enter your email and review below.</p> 
                        <form action="/index.ejs" id="usrform">
                            Email: <input type="email" name="usremail">
                        </form>
                        <br>
                        <textarea rows="4" cols="50" name="comment" form="usrform">
                        Enter your comment here...</textarea>
                        <br>
                        <button>Send</button>
                    </div>    
                </div>


                <div class="footer-section hotlines">
                    <div class="hotlines">
                        <h3>Hotlines</h3>
                        <span><phone>&#9743;</phone> 16600102005</span>
                        <span><phone>&#9743;</phone> 01 4431717</span>
                        <span><phone>&#9743;</phone> +977 9841504122</span>
                        <span><phone>&#9743;</phone> +977 9841444410</span>
                    </div>    
                </div>
                
                <div class="footer-section contact">
                    <div class="contact">
                        <h3>Contact us</h3>
                        <span><phone>&#9743;</phone> +977 97142035</span>
                        <span><email>&#9993;</email> ashwashan@gmail.com</span>
                        <span><location></location> Durbar Marg</span>
                    </div> 
                    <div class="socials">
                        <a href="#" ><i class="fa fa-facebook-official"> Facebook/Ashwashan</i></a>
                        <a href="#" ><i class="fa fa-instagram"></i>Instagram/Ashwashan</a>
                    </div>   
                </div>
              
            </div> 
            <div class="footer-bottom">
                Copyright &copy;ashwashan.com.All Rights Reserved.
            </div>

        </div>

