<link rel="stylesheet" href="/stylesheets/navbar.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Varela+Round">

<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/"><span class="option" style="color: white;"> ASHWASHAN</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/"><span class="option"> Home</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/informations">
                            <span class="option">Information</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/posts">
                            <span class="option">Peer Support</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/organizations">
                            <span class="option">Organization</span>
                        </a>
                    </li>


                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <% if(!locals.user){ console.log(locals.user); %>

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                        Login/Signup
                    </button>
                    <% }else{ console.log(locals.user); %>
                    <a type="button" class="btn btn-primary" href="/users/logout">

                        LogOut
                    </a>

                    <% } %>
                </form>
            </div>
        </nav>
    </div>
    <!--Login Modal HTML -->
    <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-login">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Member Login
                        <br>
                        <p> Don't have an account? <a href="#myModalsignup" data-toggle="modal"> Become a member </a>
                        </p>
                    </h4>

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <form action="/users/login/" method="post">
                        <div class="form-group">
                            <label>Phone Number</label>
                            <input type="phone" class="form-control" name="phone" placeholder="Phone Number"
                                required="required">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" name="password" placeholder="Password"
                                required="required">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg btn-block login-btn">Login</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!--Login Modal ends-->

    <!--Signup modal-->
    <div id="myModalsignup" class="modal fade">
        <div class="modal-dialog modal-login">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Create an account
                        <br>
                        <p> Already have an account? <a href="#myModal" data-dismiss="modal"> Login
                                Here</a></p>
                    </h4>

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <form action="/users/signup/" method="post" class="form-horizontal" id="signupForm">


                        <div class="form-group row">
                            <label class="col-form-label col-4">Username except your name</label>
                            <div class="col-8">
                                <div class="cont">
                                    <input type="text" class="form-control" name="username" id="username"
                                        required="required">
                                    <small></small>
                                </div>
                            </div>

                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-4">Phone Number</label>
                            <div class="col-8">
                                <div class="cont">
                                    <input type="phone" class="form-control" name="phone" id="phone"
                                        required="required">
                                    <small></small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-4">Password</label>
                            <div class="col-8">
                                <div class="cont">
                                    <input type="password" class="form-control" name="password" id="password"
                                        required="required">
                                    <small></small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-4">Confirm Password</label>
                            <div class="col-8">
                                <div class="cont">
                                    <input type="password" class="form-control" name="confirm_password"
                                        id="confirm_password" required="required">
                                    <small></small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-8 offset-4">
                                <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
                                <small></small>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!--Signup modal ends-->
    <!--validation-->
    <script>

        const form = document.getElementById('signupForm');
        const username = document.getElementById('username');
        const phone = document.getElementById('phone');
        const password = document.getElementById('password');
        const confirm_password = document.getElementById('confirm_password');

        form.addEventListener('submit', e => {
            e.preventDefault();

            validateForm();
        });

        function validateForm() {

            const usernameValue = username.value;
            const phoneValue = phone.value;
            const passwordValue = password.value
            const confirm_passwordValue = confirm_password.value;
            var regex = new RegExp("^[a-zA-Z ]+$");
            var pwdregex = new RegExp("^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$");

            if (!regex.test(usernameValue)) {
                setErrorFor(username, 'Contains invalid characters(alphabets only)')
            } else {
                setSuccessFor(username)
            }

            if (phoneValue.length !== 10) {
                setErrorFor(phone, 'Invalid phone number');
            }
            else {
                setSuccessFor(phone);
            }

            if (!pwdregex.test(passwordValue)) {
                setErrorFor(password, 'Should contain upperCase, lowerCase alphabet, number,symbol,minimum 8 in length');
            } else {
                setSuccessFor(password);
            }

            if (confirm_passwordValue === '') {
                setErrorFor(confirm_password, 'Password cannot be blank');
            } else if (passwordValue !== confirm_passwordValue) {
                setErrorFor(confirm_password, 'Passwords does not match');
            } else {
                setSuccessFor(confirm_password);
            }
        }

        function setErrorFor(input, message) {
            const cont = input.parentNode;
            const small = cont.querySelector('small');
            cont.className = 'cont error'
            small.innerText = message;
        }

        function setSuccessFor(input) {
            const cont = input.parentNode;
            cont.className = 'cont success'

        }
    </script>
