<link rel="stylesheet" href="/stylesheets/navbar.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Varela+Round">

<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Ashwashan</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/informations">Information</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/posts">Peer support</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/organizations">Organizations</a>
                    </li>


                </ul>
                <form class="form-inline my-2 my-lg-0">
                   <% if(!locals.user){ console.log(locals.user); %>

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                        Login/Signup
                        </button>
                        <% }else{ console.log(locals.user); %>
                    <a type="button" class="btn btn-primary" href="/users/logout">

                        LogOut
                    </a>

                        <% } %>
                </form>
            </div>
        </nav>
    </div>
    <!--Login Modal HTML -->
    <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-login">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Member Login
                        <br>
                        <p> Don't have an account? <a href="#myModalsignup" data-toggle="modal"> Become a member </a>
                        </p>
                    </h4>

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <form action="/users/login/" method="post">
                        <div class="form-group">
                            <label>Phone Number</label>
                            <input type="phone" class="form-control" name="phone" placeholder="Phone Number"
                                required="required">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" name="password" placeholder="Password"
                                required="required">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg btn-block login-btn">Login</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!--Login Modal ends-->
    <!--Signup modal-->
    <div id="myModalsignup" class="modal fade">
        <div class="modal-dialog modal-login">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Create an account
                        <br>
                        <p> Already have an account? <a href="#myModal" data-dismiss="modal"> Login
                                Here</a></p>
                    </h4>

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <form action="/users/signup/" method="post" class="form-horizontal">


                        <div class="form-group row">
                            <label class="col-form-label col-4">Username</label>
                            <div class="col-8">
                                <input type="text" class="form-control" name="username" required="required">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-4">Phone Number</label>
                            <div class="col-8">
                                <input type="phone" class="form-control" name="phone" required="required">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-4">Password</label>
                            <div class="col-8">
                                <input type="password" class="form-control" name="password" required="required">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-4">Confirm Password</label>
                            <div class="col-8">
                                <input type="password" class="form-control" name="confirm_password" required="required">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-8 offset-4">
                                <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!--Signup modal ends-->
