<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <form action="/users/signup" method="POST">
        <div>
            <label for="username">Username</label>
            <input type="username" name="username"placeholder="Enter a username you wish"/>
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" name="email"placeholder="Enter Email"/>
        </div>
        <div>
            <label for="phonenumber">Phone Number</label>
            <input type="phonenumber" name="phonenumber"placeholder="Enter phone number"/>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password"placeholder="Enter password"/>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Login</button>
</body>
</html>
