body {
    font-family: 'Varela Round', sans-serif;
    background-image: url("../images/bg.jpeg");
    background-size: cover;

}

.form-control {
    box-shadow: none;
    border-radius: 4px;
}

.navbar {
    background-image: linear-gradient(to right, #95a7b6, #aabcc5, #c1d0d5, #dbe5e6, #f5f9f9);
    padding-left: 16px;
    padding-right: 16px;
}


.navbar .navbar-brand {
    padding-left: 0;
    font-size: 20px;
    padding-right: 50px;
}

.navbar .navbar-nav {
    position: relative;
    
}

.navbar .action-buttons .dropdown-toggle::after {
    display: none;
}



.navbar .dropdown-item i {
    font-size: 16px;
    min-width: 22px;
}

.navbar .dropdown-menu {
    border-radius: 1px;
    border-color: #e5e5e5;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .05);
}

.navbar .navbar-nav .dropdown-menu a {
    padding: 8px 20px;
    line-height: normal;
}

.modal-login {		
	color: #636363;
	width: 350px;
}
.modal-login .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
}
.modal-login .modal-header {
	border-bottom: none;   
	position: relative;
	justify-content: center;
}
.modal-login h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -15px;
}
.modal-login p{
    font-size: 20px;
}
.modal-login .form-control:focus {
	border-color: #70c5c0;
}
.modal-login .form-control, .modal-login .btn {
	min-height: 40px;
	border-radius: 3px; 
}
.modal-login .close {
	position: absolute;
	top: -5px;
	right: -5px;
}	
		
.modal-login.modal-dialog {
	margin-top: 80px;
}
.modal-login .btn, .modal-login .btn:active {
	color: #fff;
	border-radius: 4px;
	background:#3DA5D9 ;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
    border: none;
    
}
.modal-login .btn:hover, .modal-login .btn:focus {
	background: #41cba9;
	outline: none;
}


.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:black;
    text-align: center;
  }
.h1 {
    text-transform: uppercase;
    margin: 0;
    font-size: 6rem;
    white-space: nowrap;
  }
.p {
    margin: 0;
    font-size: 2rem;
  }